@import '../../styles.scss';
.login-page {
    background-color: $color1;
    .main {
        background-color: $color2;
        padding: 2%;
    }
    .register-text {
        padding-top: 1%;
    }
}

table {
    color: #369;
    font-family: Arial, Helvetica, san-serif;
    font-size: large;
    border-collapse: collapse; 
}
 td {
     border: 1px solid #369;
     padding: 5px;
 }

 th {
     border: 1px solid #369;
     padding:5px;
 }