<div fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="login-page">
        <div fxLayout="column" class="main">


            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" fxLayout="column">
                <div class="form-group">
                   
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="emailid" (blur)="loadValidationsMessages()" aria-describedby="emailHelp" placeholder="Enter email">
                    <span  *ngIf="formErrors.emailid">{{formErrors.emailid}}</span>
                </div>
                <div class="form-group">
                       
                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" (blur)="loadValidationsMessages()"  placeholder="Enter password">
                        <span  *ngIf="formErrors.password">{{formErrors.password}}</span>
                    </div>
                <span *ngIf="!verifyData.status">{{verifyData.message}}</span>
                <div>
                        <button class="btn btn-primary col-md-4" type="submit">Login</button>
                        <button class="btn btn-primary col-md-6 offset-md-2" routerLink="/register">Register</button>
                </div>
               
               
               
            </form>
        </div>
    </div>

</div>

<!-- <git change commit check></git> -->