@import '../../styles.scss';
.login-page {
    background-color: $color1;
    .main {
        background-color: $color2;
        padding: 2%;
        max-height:500px;
    }
    .register-text {
        padding-top: 1%;
    }
    .register-button {
        margin-left:5px;
    }
}