<div fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="login-page">
        <div fxFlex="50" fxLayout="column" class="main">


            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" fxFlex="50" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Enter EmailId</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="emailid" (blur)="loadValidationsMessages()">
                    <mat-error *ngIf="formErrors.emailid">{{formErrors.emailid}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput placeholder="Placeholder" type="password" formControlName="password" (blur)="loadValidationsMessages()">
                    <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
                </mat-form-field>
                <span *ngIf="!verifyData.status">{{verifyData.message}}</span>
                <button mat-raised-button color="primary" type="submit">Login</button>
                <span class="register-text">Don't have an account yet?</span>
                <button mat-raised-button color="primary" routerLink="/register">Register here</button>
            </form>
        </div>
    </div>

</div>

<!-- <git change commit check></git> -->